In [1]:
#library book 一組清單可查詢內容
import pandas as pd

In [2]:
data = {'Name':["John", "Anna", "Peter", "Linda"],
       'Location':["New York", "Paris", "Berlin", "London",],
       'Age': [24, 13, 53, 33]}
data_pandas = pd.DataFrame(data)

In [3]:
display(data_pandas)

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

In [4]:
#求年齡大於30歲的人

In [7]:
display(data_pandas[data_pandas.Age > 30])

    Name Location  Age
2  Peter   Berlin   53
3  Linda   London   33

In [8]:
from sklearn.datasets import load_iris

In [9]:
iris_dataset = load_iris()
print("Keys of iris_dataset:\n", iris_dataset.keys())

Keys of iris_dataset:
 dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [10]:
print(iris_dataset['DESCR'][:193] + "\n...")

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, pre
...

In [11]:
print("Target names:", iris_dataset['target_names'])

Target names: ['setosa' 'versicolor' 'virginica']

In [12]:
print("Teature names\n", iris_dataset['feature_names'])

Teature names
 ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [13]:
print("Type of data", type(iris_dataset['data']))

Type of data <class 'numpy.ndarray'>

In [15]:
print("Shape of data:", iris_dataset['data'].shape)

Shape of data: (150, 4)

In [16]:
print("First five rows of data:\n", iris_dataset['data'][:5])

First five rows of data:
 [[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

In [17]:
print("Type of target:", type(iris_dataset['target']))

Type of target: <class 'numpy.ndarray'>

In [18]:
print("Shape of target:", iris_dataset['target'].shape)

Shape of target: (150,)

In [19]:
print("Target:\n", iris_dataset['target'])

Target:
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]